.center-title{
    text-align: center;
    font-size: 30px;
    color: black;
  }

.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }

  ion-toolbar ion-button {
    width: 100%;
    margin: 0;
  }

.large-button mat-form-field + mat-form-field{
    margin-left: 8px;


    
  }
  
.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
.color{
  background-color: #403F3F;
  color: #898888; 
  border: 2px solid black;
  border-radius: 10px; 
  font-family: Helvetica;

}

.color1{
  background-color: #403F3F;
  color: #898888; 
  border: 2px solid black;
  font-family: Helvetica;
  border-radius: 10px; 
}

.botONE{
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-button-row{
  text-align: center;
  padding: 50px 50px;
  height: 50%;
  height: 50%;
  animation: shake 0.8s cubic-bezier(.26,.07,.19,.87) infinite;

}

@keyframes shake {
0% { transform: translateX(0); }
20% { transform: translateX(-10px); }
40% { transform: translateX(10px); }
60% { transform: translateX(-10px); }
80% { transform: translateX(10px); }
100% { transform: translateX(0); }
}